In [5]:
import pandas as pd

### Getting dataset from Wikipedia into pandas

In [6]:
tor_df = pd.read_html(r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

### Ignoring all boroughs not assigned and sorting values

In [7]:
tor_df = tor_df[tor_df['Borough'] != 'Not assigned'].sort_values(by='Postal Code')
tor_df

,Postal Code,Borough,Neighbourhood
9,M1B,Scarborough,"Malvern, Rouge"
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
36,M1G,Scarborough,Woburn
45,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
107,M9P,Etobicoke,Westmount
116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

### Grouping by Postal Code and Borough and making neighborhoods into a comma separated list

In [8]:
tor_df.groupby(['Postal Code', 'Borough']).agg(lambda x : ','.join(set(x))).reset_index(inplace=True)
tor_df

,Postal Code,Borough,Neighbourhood
9,M1B,Scarborough,"Malvern, Rouge"
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
36,M1G,Scarborough,Woburn
45,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
107,M9P,Etobicoke,Westmount
116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

### Checking to see if there's any Not Assigned Neighborhoods.
#### There are none, so no need to replace with Boroughs

In [9]:
tor_df[tor_df['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

### Reseting index on dataframe

In [10]:
tor_df.reset_index(inplace=True, drop=True)

In [12]:
tor_df.shape

(103, 3)